<launch>
 
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find gazebo_simulation)/worlds/demo.world"/>
    <!-- more default parameters can be changed here -->
  </include>

  <include file="$(find rtabmap_ros)/launch/rtabmap.launch">
    <arg name="rtabmap_args" value="--delete_db_on_start"/>
  </include>
</launch>


